body{
    font-family: Arial;
    font-size: 24px;
}

p{
    margin: 10px;
}

.texto1,.texto2{
    text-align: justify;
    width: 600px;
    background-color: grey;
}

.texto1{
    /* box-sizing: content-box; padrão*/

    border: 20px solid blue;
    padding: 30px;
}

.texto2{
    box-sizing: border-box;
    border: 20px solid yellow;
    padding: 30px;
}



.texto3{
    background-color: green;
    height: 30px;
}