body{
    font-size: 24px;
}

.texto{
    font-size: 2em;
}

.texto span{
    font-size: 0.5em;
}

/*HErda direto do primeiro pai da hierarquia 0.8*16 */
.exemplo{
    font-size: 0.8rem;
}

#titulo{
    font-size: 10px;
}
/*especificidade
    id
    classe
    seletor(tag)
*/

.teste{
    font-size: 48px;
}

h1{
    font-size: 96px;
    color: green;
}