.disciplinas{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
}

.disciplinas li{
    color: blue;
    border-bottom: 1px solid gray;
}

.disciplinas li:first-child{
    color: yellow;
}

.disciplinas li:last-child{
    color: yellow;
    border:none;
}